{% extends 'base.html.twig' %}

{% block body %}
    <h2>Adding new address book</h2>
    <ul>
        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {%  endif %}
    </ul>

    <div id="container" class="col-md-10">

        <form class="form-horizontal" name="address_book_form" method="post" action="/store_address_book" enctype="multipart/form-data">
     <input type="hidden" name="token" value="{{ csrf_token('add_address') }}" />
     <div class="form-group">
        <label class="control-label col-sm-2" for="Firstname">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="first_name" id="email" placeholder="Enter Firstname">
        </div>
    </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="Lastname">Last Name:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" name="last_name" id="email" placeholder="Enter Last Name">
         </div>
     </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="street">Street and number:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" id="email"  name="street" placeholder="Enter Street and number">
         </div>
     </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="Firstname">Zip:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" id="email" name="zip" placeholder="Enter Zip">
         </div>
     </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="Firstname">City:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" id="email" name="city" placeholder="Enter City">
         </div>
     </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="Firstname">Country:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" id="email" name="country" placeholder="Enter Country">
         </div>
     </div>
     <div class="form-group">
         <label class="control-label col-sm-2" for="Firstname">Phone Number:</label>
         <div class="col-sm-10">
             <input type="text" class="form-control" id="phone_number"  name= "phone_number" placeholder="Enter phone number">
         </div>
     </div>


    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Birthday:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pwd" name="birthday" placeholder="Enter password">
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Email address:</label>
        <div class="col-sm-10">
            <input type="Email" class="form-control" id="pwd"  name="email" placeholder="Enter Email address">
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Picture:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="pwd" name ="picture" placeholder="Enter Picture">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn  btn-dark">Submit</button>
        </div>
    </div>
</form>
    </div>

{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
